body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

}
ol, ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}


/* BARRA DE NAVEGACIÓN O MENÚ HAMBURGUESA*/

.header-papa{
    position: sticky;
    top: 0;
    height: 80px;
    background-color: #141313;
    border-bottom: 1px #fff solid;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content:right;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

}
.label-hamburguesa {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.fa {
    color: #fff;
    cursor: pointer;
    
    
}

.menu-hamburguesa {
    display: none;
}
.menu-hamburguesa:checked + .ul-links{
    height: calc(100vh - 80px);
    
}

.link{
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

.ul-links {
    background-color: #333;
   width: 100%;
   position: absolute;
   top: 65px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 0;
   align-items: center;
   gap: 2rem;
   overflow: hidden;
   transition: all 0.4s;
}

@media (min-width: 768px) {
    .label-hamburguesa{
        display: none;
    
    }
    .ul-links{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
        padding-right: 30px;
        background-color: transparent;
    
    }
    .link{
        font-size: 1.2rem;
        transition: all .3s;
    }
    
    .link:hover{
        color: aqua;
    }
}




header {
    background-color: #141313;
    color: #fff;
    text-align: center;
    padding: 1em 10%;
    font-size: 2vh;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}
footer a:hover  {
    color: aqua;
}




/*
  *************   PLANES   ***********************
*/

.section-planes{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(300px, 1fr)
    );
    gap: 16px;
    text-align: center;
    margin: 60px 0;
}

.centrar-contenedor{
    display: flex;
    justify-content: center;
}

.tarjeta-planes{
    width: 80%;
    height: auto;
    border-radius: 24px;
    background-color: #edf3f2;
    font-family: 'Inter', sans-serif; 
}

.tarjeta-planes:hover{
    cursor: pointer;
    box-shadow: 0 5px 20px 0 rgba(20,24,31, .08);
    transition: all .3s;
    transform: translateY(-7px);
    box-shadow: 10px 10px 7px rgba(20,24,31, .04);
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

.tarjeta-planes img{
    border-radius: 8px;
    width: 70%;

}

.texto-tarjeta{
    padding: 6px 15px;
    font-size: 16px;
}

.btn-ver{
    padding: 12px;
    border-radius: 24px;
    background-color: #fff;
    font-size: 13pt;
}

.btn-ver:hover{
    
    border: 1px solid greenyellow;
}

.btn-estilo{
    margin: 7px 8px 30px 7px;
}



/*
  *************   EQUIPO   ***********************
*/

.section-equipo{
    background-color: aliceblue;
    padding: 28px;
    
}

.titulo-equipo {
    text-align: center;
    width: 100%;
    font-size: 15pt;
}


.contenedor-personas {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    
}

.descripcion-p, .img-persona {
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 50%;
    
}
.icono-persona {
    
    
    width: 250px; /* Ajusta el tamaño según tus necesidades */
    height: 250px; /* Asegura una relación de aspecto cuadrada */
    border-radius: 50%; /* Hace que la imagen sea circular */
    overflow: hidden; /* Recorta cualquier contenido que sobresalga del área circular */
    /*
    max-width: 400px;
    width: 65%;
    border-radius: 50%;*/

}

.nombre-persona{
    font-weight: bold
}

.descripcion-p {
    padding-left: 15%;
}


.img-persona{
    display: flex;
    align-items: center;
}

.foto-izq{
    justify-content: right;
}

@media (max-width: 800px) {
    .contenedor-personas {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .descripcion-p, p {
        order: 2;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .img-persona{
        width: 100%;
        
    }
    .foto-izq{
        justify-content: center;
    }

    
}

/* lo contrario al anterior*/

.section-equipo2{
    background-color: rgb(255, 255, 255);
    padding: 28px;
}
